#topmenu li{list-style-type: none; float: right; height: 50px; text-align: left; line-height: 50px; overflow: hidden;}
#topmenu li a{border-left: 2px solid #3B0E06; padding-left: 5px; padding-right: 5px;}
#topmenu div.moduletable{ padding-right: 50px;}