#topmenu li{list-style-type:none; float:right; height:30px; text-align:left; line-height:25px; overflow:hidden; vertical-align:middle}
#topmenu li a{border-left:2px solid #000; padding-left:10px; padding-right:10px}
#topmenu div.moduletable{padding-right:15px}